<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gautham | Portfolio</title>
    <style>

    .main{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .main--error {
        flex-direction: column;
        max-width: 500px;
        padding: 0 1rem;
        line-height: 150%;
    }

    </style>
</head>
<body>
    <main class="main main--error">
        <h1>404 - Page Not Found</h1>
        <p>
            Oops! The page you're looking for cannot be found.
        </p>
        <p>
            It may have been mis-spelled, or it doesn't exist anymore.
        </p>
        <p>
            <a href="{{ url_for('home') }}">Go to home</a>
        </p>
    </main>
</body>
</html>