{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <!--
    <p>
        Hi, I'm Gautham! I am a software engineer and a machine learning engineer with 2+ years of professional experience. I hold master's degree in Data Analytics, and loves working with Data.
    </p>
    <p>
        I use Flask and Django to build software applications. I use Scikit-Learn to build machine learning models, and I use Tensorflow and Keras to train deep neural net models.
    </p>
    <p>
        I have deployed machine learning models at production level, and have showcased the potential of blockchain technology to the clients through various projects. 
    </p>
    <p>
        My Certifications include:
        <li>IBM AI Engineering Professional Certificate</li>
        <li>DeepLearning.AI Tensorflow Developer Certificate</li>
        <li>AWS Certified Machine Learning Engineer</li>
    </p>
    -->

    <!--
    <p>
        Hi, I'm Gautham! I am a software engineer and a machine learning engineer with <span> 2+ years of professional experience.</span> I hold master's degree in Data Analytics, and loves working with Data.
    </p>
    <p>
        I use Flask and Django to build software applications. I use Scikit-Learn to build machine learning models, and I use Tensorflow and Keras to train deep neural net models.
    
    </p>
    <p>
        I have deployed machine learning models at production level, and have showcased the potential of blockchain technology to the clients through various projects. 
    </p>
    <p>
        I recieved "PnR automation award 2021" from Cognizant for my contribution towards machine learning and blockchain related ideas and projects.
    </p>
    <p>
        I am also passionate about cloud based technologies, and I am 2x Professionally certified in GCP (Data Engineer, Machine Learning Engineer).
    </p>
-->
<p>
        Hi, I'm Gautham! I am a software engineer and a machine learning engineer with 2+ years of professional experience. I hold master's degree in Data Analytics, and loves working with Data.
    </p> <!-- If this doesn't fit the page. Then use <br><br> -->
    <p>
        I use Flask and Django to build software applications. I use Scikit-Learn to build machine learning models, and I use Tensorflow and Keras to train deep neural net models.
    </p> <!-- If this doesn't fit the page. Then use <br><br> -->
    <p>
        I have deployed machine learning models at production level, and have showcased the potential of blockchain technology to the clients through various projects. 
    </p> <!-- If this doesn't fit the page. Then use <br><br> -->
    <p>
        I am also passionate about cloud based technologies, and I am 2x Professionally certified in GCP (Data Engineer, Machine Learning Engineer).
    </p>

    <!--
        ADD A TABLE AND PUT CERTIFCATIONS CORRESPONDING TO THE ISSUER. 
        ---------------------------------------------------------------
        
        LIKE, Aritficial Intelligence Engineering on one column.

        "IBM" on the other column.

        DO THESE for every certfications.

        Example:
        -------

        Aritficial Intelligence Engineering        -          IBM

        TensorFlow Developer                       -     DeepLearning.AI
    -->
</main>
{% endblock %}
