{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <section class="projects">
        {% for certification in certifications %}
            <a class="u-bare-link" href={{ certification['prod'] }} target="_blank">
                <article class="project-card">
                    <img class="project-card_image"
                        src="{{ url_for('static', filename=certification['thumb']) }}"
                        alt="{{ certification['name'] }} hero image"
                    />
                    <header class="project-card_meta">
                        <h2 class="project-card_name">{{ certification['name'] }}</h2>
                    </header>
                </article>
            </a>
        {% endfor %}
    </section>   
</main>
{% endblock %}