{% extends "base.html" %}

{% block content %}

<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact_details">
                <a class="contact_link" href="mailto:gauthamsathyan@gmail.com">
                    gauthamsathyan [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact_details">
                <a class="contact_link" href="https://github.com/gauthamsathyan" target="_blank">
                    @gauthamsathyan
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Twitter:</dt>
            <dd class="contact_details">
                <a class="contact_link" href="https://twitter.com/gauthamsathyan1" target="_blank">
                    @gauthamsathyan1
                </a>
            </dd>
        </div>
    </dl>

</main>

{% endblock %}